<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Start Page test taxi aggregate service</title>
    </head>
    <body>
        <h1>Welcome test taxi aggregate service!</h1>
        
        <p>Click <a th:href="@{/hello}">here</a> to see a taxi aggregate service.</p>
    </body>
</html>